body{
    background-image: url(https://i.dlpng.com/static/png/442685_preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(86, 156, 248);
}
ul{
    font-size: x-large;
}