body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIyMMfUMJaAmBMt9jv76ynJxD6GFjSzpl0uoJqEmgYfdrXQvz-6eOX-rw8H6qLZEJ3K7Y&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: midnightblue;
    color: rgb(86, 156, 248);
}
ul{
    font-size: x-large;
}